include ../pug-modules/mixins
block variables

doctype html
html(lang="ru")

	head
		meta(charset="utf-8")
		title Название проекта - #{title}
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")

		//- meta(name="robots", content="noindex, nofollow")

		link(rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png")
		meta(name="theme-color" content="#000")
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")

		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&display=swap' rel='stylesheet')

		// styles
		block libs-css
		link(rel="stylesheet" href="assets/css/styles.css")

	body 


		.page

			include ../sections/header


			block content



			include ../sections/footer

		// /.page

		// scripts
		include ../pug-modules/scripts