// hero
section.hero
	.mySwiper__system-top 
		a(href="#")
			img.img(src="assets/img/mob-logo.png", alt="mob-logo")
		.header__burger
			span 
		.header__mnu 
			ul.header__list 
				li
					a(href="#").header__link.js-scroll-to-form Пункт 1
				li
					a(href="#").header__link.js-scroll-to-form Пункт 2
				li
					a(href="#").header__link.js-scroll-to-form Пункт 3
	.swiper-container.mySwiper
		.swiper-wrapper
			.swiper-slide
				.mySwiper__system.mySwiper__system-1

					.mySwiper__system-head
						a(href="#").mySwiper__system-logo
							img.img(src="assets/img/logo-1.png", alt="logo-1")
						.mySwiper__system-block
							p Система сбора и хранения энергии для вашего дома
					.mySwiper__system-elems
						.mySwiper__system-elem-top
							.mySwiper__system-elem 
								img.img(src="assets/img/1-1.png", alt="1-1")
							.mySwiper__system-elem 
								img.img(src="assets/img/1-2.png", alt="1-2")
						.mySwiper__system-elem 
							img.img(src="assets/img/1-3.png", alt="1-3")
					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system2
					.mySwiper__system-wrap
						.mySwiper__system-left 
							.mySwiper__system-head
								a(href="#").mySwiper__system-logo
									img.img(src="assets/img/logo-2.png", alt="logo-2")
							h2.title-2 Ваш дом защищён<br> от аварий и отключений в общей сети:
							ul
								li до 24 ч автономии - климат в доме будет комфортным, а продукты в холодильнике - свежими
								li вы в безопасности - все охранные системы вашего дома будут стабильно работать в независимом режиме
								li всё происходит без вашего участия - система сама понимает, что происходит в каждый момент времени"
							.mySwiper__system-bl 
								.mySwiper__system-ic 
									<svg width="100" height="80" viewBox="0 0 100 80" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M92.316 26.4571C68.5087 4.51027 31.4817 4.5183 7.68385 26.4571C6.78892 27.2821 6.77145 28.679 7.63682 29.5348L12.2378 34.0844C13.0629 34.9013 14.3905 34.9188 15.2478 34.1353C34.8558 16.2317 65.1413 16.2277 84.7533 34.1353C85.6106 34.9188 86.9383 34.9 87.7633 34.0844L92.3643 29.5348C93.2284 28.679 93.2109 27.2821 92.316 26.4571ZM49.9999 52.8571C45.2498 52.8571 41.3999 56.6942 41.3999 61.4286C41.3999 66.1629 45.2498 70 49.9999 70C54.7501 70 58.5999 66.1629 58.5999 61.4286C58.5999 56.6942 54.7501 52.8571 49.9999 52.8571ZM77.2337 41.6621C61.7456 28.0107 38.2367 28.0254 22.7661 41.6621C21.8389 42.479 21.8094 43.8973 22.6895 44.7625L27.3174 49.3147C28.1236 50.1076 29.4217 50.1612 30.2804 49.4219C41.5612 39.7027 58.4642 39.7241 69.7181 49.4219C70.5768 50.1612 71.8748 50.1089 72.6811 49.3147L77.309 44.7625C78.1905 43.8973 78.1596 42.4777 77.2337 41.6621Z" fill="white"/>
									</svg>
								p
									span Следите 
									| за системой из любой точки мира онлайн 
						.mySwiper__system-right
							.mySwiper__system-bl.mySwiper__system-bl2
								.mySwiper__system-ic 
									<svg width="100" height="80" viewBox="0 0 100 80" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M92.316 26.4571C68.5087 4.51027 31.4817 4.5183 7.68385 26.4571C6.78892 27.2821 6.77145 28.679 7.63682 29.5348L12.2378 34.0844C13.0629 34.9013 14.3905 34.9188 15.2478 34.1353C34.8558 16.2317 65.1413 16.2277 84.7533 34.1353C85.6106 34.9188 86.9383 34.9 87.7633 34.0844L92.3643 29.5348C93.2284 28.679 93.2109 27.2821 92.316 26.4571ZM49.9999 52.8571C45.2498 52.8571 41.3999 56.6942 41.3999 61.4286C41.3999 66.1629 45.2498 70 49.9999 70C54.7501 70 58.5999 66.1629 58.5999 61.4286C58.5999 56.6942 54.7501 52.8571 49.9999 52.8571ZM77.2337 41.6621C61.7456 28.0107 38.2367 28.0254 22.7661 41.6621C21.8389 42.479 21.8094 43.8973 22.6895 44.7625L27.3174 49.3147C28.1236 50.1076 29.4217 50.1612 30.2804 49.4219C41.5612 39.7027 58.4642 39.7241 69.7181 49.4219C70.5768 50.1612 71.8748 50.1089 72.6811 49.3147L77.309 44.7625C78.1905 43.8973 78.1596 42.4777 77.2337 41.6621Z" fill="white"/>
									</svg>
								p
									span Следите 
									| за системой из любой точки мира онлайн 
					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system3
					.mySwiper__system3-wrap 
						.mySwiper__system3-left
							.mySwiper__system-head
								a(href="#").mySwiper__system-logo
									img.img(src="assets/img/logo-2.png", alt="logo-2")
							.mySwiper__system3-fig 
								.mySwiper__system3-el1
									img.img(src="assets/img/3-2.png", alt="")
								.mySwiper__system3-el2
									img.img(src="assets/img/3-1.png", alt="")
						.mySwiper__system3-right
							.mySwiper__system3-right-body
								h2.title-2 Солнечные батареи <br> с выгодой для вас
								p Солнечная генерация может производить 
									span до XXX кВт*ч в сутки 
									| в среднем в году, это даёт<br> следующие преимущества:
								ul
									li Вы замещаете этой энергией потребление из сети, и перестаёте за неё платить государству - теперь вы сами производите свою электроэнергию
									li Солнечные батареи - чистый и экологичный способ получения электричества - вы идёте в ногу со временем.
									li Данное решение - долговечно (срок службы составляет более 20 лет) и не требует частого и дорогостоящего обслуживания - вы всегда спокойны.
							.mySwiper__system-bl 
								.mySwiper__system-ic 
									<svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M44.5 81.5833C64.9806 81.5833 81.5833 64.9805 81.5833 44.5C81.5833 24.0194 64.9806 7.41663 44.5 7.41663C24.0194 7.41663 7.41667 24.0194 7.41667 44.5C7.41667 64.9805 24.0194 81.5833 44.5 81.5833Z" stroke="white" stroke-width="7"/>
									<path d="M42.6458 25.9583H44.5" stroke="white" stroke-width="7" stroke-linecap="round"/>
									<path d="M37.0833 40.7916H44.5V59.3333" stroke="white" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M37.0833 59.3333H51.9167" stroke="white" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								p
									span Солнечная генерация может производить <br>до  XXX кВт*ч в сутки.  
						.mySwiper__system-bl.mySwiper__system-bl2
							.mySwiper__system-ic 
								<svg width="100" height="80" viewBox="0 0 100 80" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M92.316 26.4571C68.5087 4.51027 31.4817 4.5183 7.68385 26.4571C6.78892 27.2821 6.77145 28.679 7.63682 29.5348L12.2378 34.0844C13.0629 34.9013 14.3905 34.9188 15.2478 34.1353C34.8558 16.2317 65.1413 16.2277 84.7533 34.1353C85.6106 34.9188 86.9383 34.9 87.7633 34.0844L92.3643 29.5348C93.2284 28.679 93.2109 27.2821 92.316 26.4571ZM49.9999 52.8571C45.2498 52.8571 41.3999 56.6942 41.3999 61.4286C41.3999 66.1629 45.2498 70 49.9999 70C54.7501 70 58.5999 66.1629 58.5999 61.4286C58.5999 56.6942 54.7501 52.8571 49.9999 52.8571ZM77.2337 41.6621C61.7456 28.0107 38.2367 28.0254 22.7661 41.6621C21.8389 42.479 21.8094 43.8973 22.6895 44.7625L27.3174 49.3147C28.1236 50.1076 29.4217 50.1612 30.2804 49.4219C41.5612 39.7027 58.4642 39.7241 69.7181 49.4219C70.5768 50.1612 71.8748 50.1089 72.6811 49.3147L77.309 44.7625C78.1905 43.8973 78.1596 42.4777 77.2337 41.6621Z" fill="white"/>
								</svg>
							p
								span Солнечная генерация может производить до  XXX кВт*ч в сутки. 
						
					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system4
					.mySwiper__system4-wrap
						.mySwiper__system4-left 
							.mySwiper__system-head
								a(href="#").mySwiper__system-logo
									img.img(src="assets/img/logo-2.png", alt="logo-2")
							h2.title-2 Срок службы <br> компонентов системы:
							ul
								li Хранение энергии 
									span - до 12 лет 
									| в буферном режиме.
								li Солнечные батареи и преобразователь 
									span - более 20 лет.
							h2.title-2 Гарантия
							.mySwiper__system-g 
								.mySwiper__system-g-el.mySwiper__system-g-el-gr 
									.ch 
										img.img(src="assets/img/check1.png", alt="")
									.el 
										span 2
									.body
										p года
										span на работы
										h5 
											span + EXTRA 
											| по Подписке
								.mySwiper__system-g-el.mySwiper__system-g-el-or
									.ch 
										img.img(src="assets/img/check2.png", alt="")
									.el 
										span 2
									.body
										p года
										span на работы
										h5 
											span + EXTRA 
											| по Подписке
						.mySwiper__system4-right
					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system5
					.mySwiper__system-head
						a(href="#").mySwiper__system-logo
							img.img(src="assets/img/logo-3.png", alt="logo-3")
					.mySwiper__system5-img
					.mySwiper__system5-body
						h2.title-3 Солнечные батареи Topray, Delta
						p Высококачественные солнечные модули Topray Solar обеспечивают экологически чистой и надежной солнечной электроэнергией жилые, коммерческие, промышленные и коммунальные сети по всей России. 
					.mySwiper__system5-bottom 
						.mySwiper__system5-el.mySwiper__system5-el-1
							.mySwiper__system5-ic 
								img.img(src="assets/img/check3.png", alt="")
							.mySwiper__system5-inf
								p Технология
								span PERC
						.mySwiper__system5-el.mySwiper__system5-el-2
							.mySwiper__system5-ic 
								img.img(src="assets/img/check4.png", alt="")
							.mySwiper__system5-inf
								p КПД 
								span >19%
						.mySwiper__system5-el.mySwiper__system5-el-3
							.mySwiper__system5-ic 
								img.img(src="assets/img/check5.png", alt="")
							.mySwiper__system5-inf
								p Монокристалл
								span 320—380Вт
					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system6
					.mySwiper__system-head
						a(href="#").mySwiper__system-logo
							img.img(src="assets/img/logo-2.png", alt="logo-2")
					.mySwiper__system6-wrap 
						.mySwiper__system6-left
							.mySwiper__system6-left-img 
								img.img(src="assets/img/6.png", alt="")
						.mySwiper__system6-right
							h2.title-2 Гибридные<br> солнечные инверторы<br> SmartWatt, MUST
							.mySwiper__system6-right-w
								.mySwiper__system6-right-elem
									.mySwiper__system6-right-elem-img
										img.img(src="assets/img/check1.png", alt="")
									p Мощность от 3 до 5 кВт 
								.mySwiper__system6-right-elem
									.mySwiper__system6-right-elem-img
										img.img(src="assets/img/check1.png", alt="")
									p Возможность паралельной работы<br> 
										span до 9 штук. До 45 кВт.
								.mySwiper__system6-right-elem
									.mySwiper__system6-right-elem-img
										img.img(src="assets/img/check1.png", alt="")
									p Удалённый мониторинг
								.mySwiper__system6-right-elem 
									.mySwiper__system6-right-elem-img
										img.img(src="assets/img/check1.png", alt="")
									p Работа со всеми типами аккумуляторов<br> 
										span AGM, GEL, Li-ion
					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system7
					.mySwiper__system-head
						a(href="#").mySwiper__system-logo
							img.img(src="assets/img/logo-2.png", alt="logo-2")
					.mySwiper__system7-wrap 
						.mySwiper__system7-left
							h2.title-2 Аккумуляторные системы <br>
								span Delta Battery и Vector Carbon
							p.t Аккумуляторы последнего поколения со сроком службы 15 лет и более и 4880 циклов заряд/разряда. Батареи не требуют обширной электронной защиты и BMS, просты в эксплуатации, как и стандартные AGM и GEL
							.mySwiper__system6-right-w
								.mySwiper__system6-right-elem
									.mySwiper__system6-right-elem-img
										img.img(src="assets/img/check1.png", alt="")
									p 100 - 150 - 200 Ампер-часов
								.mySwiper__system6-right-elem
									.mySwiper__system6-right-elem-img
										img.img(src="assets/img/check1.png", alt="")
									p 12 Вольт
								.mySwiper__system6-right-elem
									.mySwiper__system6-right-elem-img
										img.img(src="assets/img/check1.png", alt="")
									p AGM + CARBON
						.mySwiper__system7-right
							.mySwiper__system7-right-img 
								img.img(src="assets/img/7.png", alt="")


					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system8
					.mySwiper__system-head
						a(href="#").mySwiper__system-logo
							img.img(src="assets/img/logo-2.png", alt="logo-2")
					.mySwiper__system8-cont
						h2.title-2 Монтаж и доставка
						p Монтаж составляет <br>от 1 до 5 рабочих дней, под ключ. 
						span Доставка по всей России.
					.mySwiper__system-num 
						span 01
			.swiper-slide
				.mySwiper__system.mySwiper__system9
					.mySwiper__system-head
						a(href="#").mySwiper__system-logo
							img.img(src="assets/img/logo-2.png", alt="logo-2")
					.swiper-container.subSwiper
						.swiper-wrapper
							.swiper-slide
								.subSwiper__wrap 
									.subSwiper__left
										span DELTA, TOPRAY
										h3 3 кВт
										p Панели 320 Вт MONO PERC x9шт. КПД=19%;<br> Гибридный Инвертор 3 кВт, 48 В;<br> 4 АКБ по 100 А*ч Carbon
										h4 Стоимость: 
											span 370 840 Руб. 
									.subSwiper__right
										.subSwiper__right-img 
											img.img(src="assets/img/9.png", alt="")
							.swiper-slide
								.subSwiper__wrap 
									.subSwiper__left
										span DELTA, TOPRAY
										h3 3 кВт
										p Панели 320 Вт MONO PERC x9шт. КПД=19%;<br> Гибридный Инвертор 3 кВт, 48 В;<br> 4 АКБ по 100 А*ч Carbon
										h4 Стоимость: 
											span 370 840 Руб. 
									.subSwiper__right
										.subSwiper__right-img 
											img.img(src="assets/img/9.png", alt="")
							.swiper-slide
								.subSwiper__wrap 
									.subSwiper__left
										span DELTA, TOPRAY
										h3 3 кВт
										p Панели 320 Вт MONO PERC x9шт. КПД=19%;<br> Гибридный Инвертор 3 кВт, 48 В;<br> 4 АКБ по 100 А*ч Carbon
										h4 Стоимость: 
											span 370 840 Руб. 
									.subSwiper__right
										.subSwiper__right-img 
											img.img(src="assets/img/9.png", alt="")
						.subSwiper__left-el 
							span ПОДКЛЮЧИТЬСЯ ПРЯМО СЕЙЧАС
							<svg width="91" height="94" viewBox="0 0 91 94" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 57.4444L44.2788 0V33.9444H91L44.2788 94V57.4444L0 57.4444Z" fill="white"/>
							</svg>
						.subSwiper-pagination
					.mySwiper__system-num 
						span 01
		.swiper-pagination







	// /.container

// /.hero