extends layout/main

block variables
	- let title = 'Главная'
	- let page = 'home'



block content
	include sections-index/hero





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")